.introduction {
  font-family: "Coolvetica";
  letter-spacing: 2px;
}

.experience {
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 3.0s backwards;
}

.contact {
  letter-spacing: 4px;
  font-family: sans-serif;
  border: 1px solid #ff8000;
  animation: fadeIn 1s 3.2s backwards;
}
