.leaflet-container {
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map {
  z-index: 999999;
  font-family: "Helvetica";
  opacity: 0;
  animation: fadeIn 1s 2.0s;
  animation-fill-mode: forwards;
}

.send {
  letter-spacing: 4px;
  font-family: sans-serif;
  border: 1px solid #ff8000;
}

@for $i from 1 through 5 {
  .box_#{$i} {
    animation: fadeInUp 1s  #{calc($i / 10 + 1.2)}s backwards;
  }
}

.box_6 {
  animation: fadeInUp 1s  2.0s backwards;
}